%h2='Meus tickets'
-if @tickets.empty?
  Você ainda não tem tickets cadastrados
-else
  %table.list
    %thead
      %tr
        %th='Data'
        %th='Descrição'
        %th='Situação'
    %tbody
      - @tickets.each do |ticket|
        %tr
          %td{:width => 15}
            =link_to "#{ticket.created_at.strftime('%d/%m/%Y') if ticket.created_at}", ticket
          %td
            =link_to ticket.description, ticket
          %td{:width => 120}
            =link_to Ticket::Status[ticket.status - 1][0], ticket

