%h2 Novo ticket
=form_for @ticket do |form|
  %p
    =form.label :description, 'Descrição: '
    =form.text_field :description
  %p
    =form.label :status, 'Status: '
    =form.select :status, Ticket::Status
  %p
    =form.label :user_id, 'Responsável: '
    =form.select :user_id, @users
  %p
    =label_tag :comment, 'Observações: '
    =text_area_tag :comment, 'whatever', :size => '24x6'
  %p
    =form.submit 'Gravar'
%p
  =link_to 'Voltar', tickets_url
  =' | '
  =link_to 'Sair', destroy_user_session_url

